<!DOCTYPE html>
<html>
<head>
  <title>PicplzZipDeKure</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
<div>
<p><%= flash[:notice] %></p>
</div>
<% end %>

<h1>Picplz Zip でくれ (Picplz Zip Download)</h1>

<div id="user_nav">
	<% if current_user %>
		Welcome, <%= current_user.display_name %>!
	<% else %>
		<%= link_to 'Sign in with Picplz', '/auth/picplz' %>
	<% end %>
</div>

<%= yield %>

</body>
</html>
