<!DOCTYPE html>
<html>
<head>
  <title>PicplzZipDeKure</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Picplz Zip でくれ (Picplz Zip Download)</h1>

<% if flash[:notice] %>
<div>
<p><%= flash[:notice] %></p>
</div>
<% end %>

<div id="user_nav">
	<% if current_user %>
		<%= image_tag(current_user.image) %>Welcome, <%= link_to current_user.nickname, current_user.url, target: '_blank' %>! <%= link_to 'Sign out', signout_path %>
	<% else %>
		<%= link_to 'Sign in with Picplz', '/auth/picplz' %>
	<% end %>
</div>

<%= yield %>

</body>
</html>
